@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* table,
th,
td {
  border: 0.5px solid black;
  width: 2rem;
} */

.deactive {
  opacity: 0.38;
}

.active {
  opacity: 2.38;
}
