.qrscan {
  width: 100vw;
  height: 100vh;
  background-color: black;
}
.btn-para {
  margin: "10px";
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  width: 70%;
}
.qrscan .btn-para p {
  color: rgb(201, 191, 191);
  display: flex;
  justify-content: center;
}
.close-btn {
  float: right;
  color: white;
  margin-top: 1rem;
}
.qrscan .qrdiv {
  display: flex;
  justify-content: center;
  align-items: center;
}
.qr-scanner {
  width: 300px;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
}
p {
  color: red;
}
